---
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import Table from '../components/DataTable';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <meta title={title} />
    <script type="module" src="../components/DataTable.tsx"></script> 
  </head>
  <body style={{margin: '0px'}}>
    <main>
        <Nav />
        <Table client:load />
        <Footer />
    </main>
  </body>
</html>
